/* text alignment */
div.cen {
  text-align: center;
}

div.lef {
  text-align: left;
}

div.rig {
  text-align: right;
} 

div.just{
  text-align: justify;
} 
/* */

/* image classes */
.img_left {
float: left; 
margin: 0.5em 0.8em 0em 0em;	
}

.img_right {
float: right; 
margin: 0.5em 0em 0em 0.8em;
}

.image img {
display: block; margin: 0; padding: 0;
}

/* */

.row-flex {
  display: flex;
  flex-direction: row;
}

	/* header */
	#inner_header { padding-bottom: 0.2em;  }
	#inner_header h1 { }
	#inner_header h2 {float: right;	padding: 2.0em 0.20em 0m 0em; }
	/* navigation */
	#inner_header ul { list-style-type: none; padding: 0.2em 0em 0.2em 0.4em; display:inline; text-align:center; }
	#inner_header ul li { list-style-type: none; float: left; margin: 0em 0.3em 0em 0em; }
	#inner_header br { display: none; }

/* */

table {
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}
/* */

/* */
.tab { margin-left: 40px; }
/* */

.sidenav {
  margin-top: 200px;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 0px;
  font-size: 15px;}

.sidenav ul li {
    list-style-type: none;
    float: bottom;
    margin: 0em 0em 0em 0em;
}

.main {
  margin-top: 200px;
  margin-left: 300px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
    background-color: #FFFFFF;
    }

/* end of css - */
